body{
  font-family: Arial, Helvetica, sans-serif;

}

.card{
  border: 2px solid black;
  border-radius: 7px;
  box-shadow: 5px 5px 5px gray;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .cardImage{
  max-width: 75%;
  height: auto;
  border-radius: 50%;
}

.card .cardTitle{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: rgba(0, 0, 0, 0.85);
}

.card .cardText{
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.7);
}

.counter-container{
  text-align: center;
  margin: auto;
  width: 400px;
  background-color: aliceblue;
  border: solid 2px black;
  border-radius: 7px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
}

.counter-container .count{
  font-size: 12em;
  font-weight: bold;
  margin: 20px;
}

.counter-container .action-button{
  font-size: 20px;
  border: none;
  padding: 10px 0px;
  border-radius: 6px;
  width: 100px;
  margin: 20px 5px 30px;
  box-sizing: border-box;
  color: white;
  background-color: rgba(255, 106, 0, 0.795);
  cursor: pointer;
}

.counter-container .action-button:hover{
  background-color: rgb(255, 106, 0);
}